/* Team Pencil (Ari Schechter, Ethan Machleder, William Li)
SoftDev
P3: potential-eureka
2021-04-29  */

body {
    background-color: whitesmoke;
    color: #00006F;
}

nav {
    /* background-color: #DCDCF5; */
    background-color: #A8A8FF;
    color: whitesmoke;
    box-shadow: 8px 8px 1px 0.5px rgba(3, 8, 20, 0.1);
}

nav.a {
    color: #00006F;
}

nav.a:hover {
    color: #00868C;
}

#home {
    font-weight: bold;
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
    white-space: nowrap;
}

.navbar-brand {
    color: whitesmoke;
}

