body {
    background-color: whitesmoke;
    color: #00006F;
}

nav {
    /* background-color: #DCDCF5; */
    background-color: #A8A8FF;
    color: white;
}

nav.a {
    color: #00006F;
}

nav.a:hover {
    color: #00868C;
}

#home {
    font-weight: bold;
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
    white-space: nowrap;
}

.navbar-brand {
    color: whitesmoke;
}

