body {
    background-color: beige;
    color: #00006F;
}

nav {
    background-color: #DCDCF5;
    color: #00006F;
}

nav.a {
    color: #00006F;
}

nav.a:hover {
    color: #00868C;
}

#home {
    font-weight: bold;
}

